In [1]:
import pandas as pd
import numpy as np
from deep_translator import GoogleTranslator

In [2]:
import re
import nltk
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()
from nltk.corpus import stopwords
import string
stopword = stopwords.words("english")

In [61]:
df = pd.read_csv("Data/Suicide_eng.csv")
df.head()

,Unnamed: 0.1,Unnamed: 0,text,class
0,0,2,Ex Wife Threatening SuicideRecently I left my ...,suicide
1,1,3,Am I weird I don't get affected by compliments...,non-suicide
2,2,4,Finally 2020 is almost over... So I can never ...,non-suicide
3,3,8,i need helpjust help me im crying so hard,suicide
4,4,9,"I’m so lostHello, my name is Adam (16) and I’v...",suicide

In [62]:
df['class'].replace(['suicide', 'non-suicide'], (1,0), inplace = True)
df.head()

,Unnamed: 0.1,Unnamed: 0,text,class
0,0,2,Ex Wife Threatening SuicideRecently I left my ...,1
1,1,3,Am I weird I don't get affected by compliments...,0
2,2,4,Finally 2020 is almost over... So I can never ...,0
3,3,8,i need helpjust help me im crying so hard,1
4,4,9,"I’m so lostHello, my name is Adam (16) and I’v...",1

In [63]:
df = df[['text', 'class']]

In [64]:
df.head()

                                                text  class
0  Ex Wife Threatening SuicideRecently I left my ...      1
1  Am I weird I don't get affected by compliments...      0
2  Finally 2020 is almost over... So I can never ...      0
3          i need helpjust help me im crying so hard      1
4  I’m so lostHello, my name is Adam (16) and I’v...      1

In [65]:
df = df[0:500]

In [66]:
def clean(text):
    text = text.lower()
    text = re.sub(r"(@\[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)|^rt|http.+?|(\n)|(\w*\d\w*)", "", text)
    text = re.sub(r'[^\w\s]', '', text)
    text = [word for word in text.split(' ') if word not in (stopword)]
    text = " ".join(text)
    text = [stemmer.stem(word) for word in text.split(' ')]
    text = " ".join(text)
    return text
df['text'] = df['text'].apply(clean)
df.head()

                                                text  class
0  ex wife threaten suiciderec left wife good che...      1
1  weird dont get affect compliment come someon k...      0
2  final  almost never hear  bad year ever swear ...      0
3                     need helpjust help im cri hard      1
4  im losthello name adam  ive struggl year im af...      1

In [35]:
translations = {}
for element in df['text']:
      translations[element] = GoogleTranslator(source='auto', target='hi').translate(element)

In [34]:
df.replace(translations, inplace=True)
print(df)

                                                  text  class
0    ex wife threaten suiciderec left wife good che...      1
1    weird dont get affect compliment come someon k...      0
2    final  almost never hear  bad year ever swear ...      0
3                       need helpjust help im cri hard      1
4    im losthello name adam  ive struggl year im af...      1
..                                                 ...    ...
495  im sure ill make itiv gotten close kill past i...      1
496  holi big past  week first date kiss boyfriend ...      0
497                     meet vagin team fortress  meme      0
498  look pc player look peopl play pc right prefer...      0
499  realli weird music tast idk like differ genr m...      0

[500 rows x 2 columns]

C:\Users\HP\AppData\Local\Temp\ipykernel_8616\1777119785.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace(translations, inplace=True)

In [36]:
df1 = pd.read_csv("suicide_hindi.csv")
df1.head()

   Unnamed: 0                                               text  class
0           0  पूर्व पत्नी ने आत्महत्या की धमकीrec छोड़ी पत्न...      1
1           1  अजीब तारीफों को प्रभावित नहीं करते हैं, आओ किस...      0
2           2  फाइनल लगभग कभी नहीं सुना बुरा साल कभी कसम खाओ ...      0
3           3  मदद की ज़रूरत है बस मदद करो मैं बहुत मेहनत कर ...      1
4           4  मैं हार गयाहेल्लो नाम एडम आइव स्ट्रगल साल मैं ...      1

In [37]:
df1 = df1.drop('Unnamed: 0', axis = 1)

In [38]:
df1

                                                  text  class
0    पूर्व पत्नी ने आत्महत्या की धमकीrec छोड़ी पत्न...      1
1    अजीब तारीफों को प्रभावित नहीं करते हैं, आओ किस...      0
2    फाइनल लगभग कभी नहीं सुना बुरा साल कभी कसम खाओ ...      0
3    मदद की ज़रूरत है बस मदद करो मैं बहुत मेहनत कर ...      1
4    मैं हार गयाहेल्लो नाम एडम आइव स्ट्रगल साल मैं ...      1
..                                                 ...    ...
495  मुझे यकीन है कि मैं आईटीवी को करीब से मार रहा ...      1
496  होली का बड़ा पिछला हफ्ता, फर्स्ट डेट किस बॉयफ्...      0
497                        योनि टीम किले मेमे से मिलें      0
498  लुक पीसी प्लेयर लुक पीपल पीसी प्ले राइट पसंद क...      0
499  रियलली वियर्ड म्यूजिक टेस्ट आइडीके लाइक डिफरें...      0

[500 rows x 2 columns]

In [39]:
df1['text'].isnull().sum()

1

In [40]:
df1 = df1.dropna()
df1

                                                  text  class
0    पूर्व पत्नी ने आत्महत्या की धमकीrec छोड़ी पत्न...      1
1    अजीब तारीफों को प्रभावित नहीं करते हैं, आओ किस...      0
2    फाइनल लगभग कभी नहीं सुना बुरा साल कभी कसम खाओ ...      0
3    मदद की ज़रूरत है बस मदद करो मैं बहुत मेहनत कर ...      1
4    मैं हार गयाहेल्लो नाम एडम आइव स्ट्रगल साल मैं ...      1
..                                                 ...    ...
495  मुझे यकीन है कि मैं आईटीवी को करीब से मार रहा ...      1
496  होली का बड़ा पिछला हफ्ता, फर्स्ट डेट किस बॉयफ्...      0
497                        योनि टीम किले मेमे से मिलें      0
498  लुक पीसी प्लेयर लुक पीपल पीसी प्ले राइट पसंद क...      0
499  रियलली वियर्ड म्यूजिक टेस्ट आइडीके लाइक डिफरें...      0

[499 rows x 2 columns]

In [41]:
df1.isnull().sum()

text     0
class    0
dtype: int64

In [27]:
df1['text']

0      पूर्व पत्नी ने आत्महत्या की धमकीrec छोड़ी पत्न...
1      अजीब तारीफों को प्रभावित नहीं करते हैं, आओ किस...
2      फाइनल लगभग कभी नहीं सुना बुरा साल कभी कसम खाओ ...
3      मदद की ज़रूरत है बस मदद करो मैं बहुत मेहनत कर ...
4      मैं हार गयाहेल्लो नाम एडम आइव स्ट्रगल साल मैं ...
                             ...
495    मुझे यकीन है कि मैं आईटीवी को करीब से मार रहा ...
496    होली का बड़ा पिछला हफ्ता, फर्स्ट डेट किस बॉयफ्...
497                          योनि टीम किले मेमे से मिलें
498    लुक पीसी प्लेयर लुक पीपल पीसी प्ले राइट पसंद क...
499    रियलली वियर्ड म्यूजिक टेस्ट आइडीके लाइक डिफरें...
Name: text, Length: 499, dtype: object

In [45]:
x = np.array(df1['text'])
y = np.array(df1['class'])
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
x = cv.fit_transform(x)
x

<499x1270 sparse matrix of type '<class 'numpy.int64'>'
	with 13166 stored elements in Compressed Sparse Row format>

In [46]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 30)

In [47]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()
dtc.fit(x_train, y_train)

DecisionTreeClassifier()

In [48]:
dtc.score(x_test,y_test)

0.68

In [56]:
test_data = ["जब किसी व्यक्ति के मन में आत्महत्या के विचार आते हैंी"]
df2 = cv.transform(test_data).toarray()
dtc.predict(df2)

array([1], dtype=int64)